In [1]:
import pandas as pd
import numpy as np
import re

In [292]:
data = pd.read_csv('imdb_movies.csv')

In [318]:
actors_set = []
row_num = []
for i,element in enumerate(data['crew'].astype(str)):
    text = element.replace(', Sr.',' Sr.').replace(', Jr.',' Jr.').replace(', ,',', ').rstrip(', ').lstrip()
    splitted_text = text.split(',')
    if len(splitted_text) % 2 == 0:
        actors_set.extend(splitted_text)

for i in range(len(actors_set)):
    actors_set[i] = actors_set[i].lstrip().rstrip()
unique = np.unique(actors_set,return_counts=True)
name = []
for i in range(len(unique[0])):
    if unique[1][i] < 3 or len(unique[0][i].split()) == 1 or any(keyword in unique[0][i] for keyword in ['(voice)','/', 'The ', 'Agent', 'Aunt', 'Brothel Girl', 'Adolf Hitler', 'Age 10', 'Basil Exposition', 'Baby Oliver','Casting Director','Big Bob','Bridget Jones',' Dr. ','Dr. ','Self','self','Pilot','Johnny English','Man in Dance Hall','USA Phantom Dancer','Wednesday Addams','Skull Island','Dancer: Valinese Tari Legong Dancers','Él mismo','Minnie Driver','(','Albus Dumbledore','Skywalker','Bellatrix Lestrange','Cao Cao','Captain','Blind Al','Fairy Godmother','Fake Shemp','Fat Man','Harry Potter','Ron Weasley','Hermione Granger','Jesus Christ',"Jim's",'Lord','Mad Dog','Mad Hatter','Meat Loaf', 'Mr.','Mrs', 'News','Newt Scamander','Sexy Girl','Sheriff',"Ship's Cook",'Snow White','Tall Man','Tantoo Cardinal','Thin Man','Thor Odinson','Uncle','Winston Churchill','Young Frank','Young Joe','Young Man','Young Michael','Young Woman','Young Girl','Cab Driver','Cop #1','Commissioner James Gordon','Commissaire Juve','Cousin Eddie']):
        pass
    else:
        name.append(unique[0][i])

In [320]:
print(np.unique(name,return_counts=True))

(array(["'Weird Al' Yankovic", '50 Cent', 'A.J. Cook', ...,
       'Óscar Barberán', 'Óscar Casas', 'Óscar Jaenada'], dtype='<U30'), array([1, 1, 1, ..., 1, 1, 1]))

In [112]:
name = []
for i in range(len(unique[0])):
    if unique[1][i] < 3 or len(unique[0][i].split()) == 1:
        pass
    else:
        name.append(unique[0][i])

In [ ]:
genres_set = set()
for i in data['genre'].astype(str):
    genres_set.update(i.split(',\xa0'))
genres_set.remove('nan')

In [211]:
actors_series = pd.Series(name)
genres_series = pd.Series(list(genres_set))

In [80]:
actors_series

0         'Weird Al' Yankovic
1                     50 Cent
2                   A.J. Cook
3                    AJ Bowen
4                    AJ Raval
                ...
7273            Ériq Ebouaney
7274    Ólafur Darri Ólafsson
7275           Óscar Barberán
7276              Óscar Casas
7277            Óscar Jaenada
Length: 7278, dtype: object

In [77]:
encoded_genres = data['genre'].astype(str)
temp_list = []
for i in encoded_genres:
    list_of_genres = i.split(',\xa0')
    new_list = ''
    for j in list_of_genres:
        if genres_series.isin([j]).any():
            new_list += str(genres_series.index[genres_series == j][0]) +', '
        else:
            new_list = 'nan'
            continue
    temp_list.append(new_list.rstrip(','))
encoded_genres = pd.Series(temp_list)

In [89]:
actors_series

0         'Weird Al' Yankovic
1                     50 Cent
2                   A.J. Cook
3                    AJ Bowen
4                    AJ Raval
                ...
7273            Ériq Ebouaney
7274    Ólafur Darri Ólafsson
7275           Óscar Barberán
7276              Óscar Casas
7277            Óscar Jaenada
Length: 7278, dtype: object

In [187]:
len(name)

7278

In [231]:
encoded_names = data['crew'].astype(str)

In [ ]:
6075, 7259, 6326, 6437, 3650, 1301, 3208, 931, 1843

In [321]:
encoded_names[1]

'6075, 7259, 6326, 6437, 3650, 1301, 3208, 931, 1843'

In [272]:
encoded_names = data['crew'].astype(str)
temp_list = []
for i in encoded_names:
    list_of_names = i.split(',')
    new_list = ''
    for j in list_of_names:
        
        if actors_series.isin([j.lstrip().rstrip()]).any():
            new_list += str(actors_series.index[actors_series == j.lstrip().rstrip()][0]) +', '
    temp_list.append(new_list.rstrip(', '))
encoded_names = pd.Series(temp_list)
encoded_names.replace('', 'nan', inplace=True)

In [276]:
len(encoded_names)

10178

In [46]:
index_series = pd.Series(list(data.index))
encoded_genres_series = pd.Series(encoded_genres)

In [124]:
pd.Series(list(genres_set))

0           Adventure
1              Family
2              Comedy
3             Mystery
4               Drama
5             Western
6            Thriller
7              Action
8             History
9               Crime
10              Music
11           TV Movie
12                War
13             Horror
14          Animation
15            Romance
16            Fantasy
17        Documentary
18    Science Fiction
dtype: object

In [82]:
data.drop(columns=['orig_title','status', 'budget_x','revenue'],inplace=True)

In [277]:
encoded_genres = data['genre'].astype(str)
temp_list = []
for i in encoded_genres:
    list_of_genres = i.split(',\xa0')
    new_list = ''
    for j in list_of_genres:
        if genres_series.isin([j]).any():
            new_list += str(genres_series.index[genres_series == j][0]) +', '
        else:
            new_list = 'nan'
            continue
    temp_list.append(new_list.rstrip(', '))
encoded_genres = pd.Series(temp_list)

In [312]:
encoded_names

0                 4739, 6663, 3380, 7123, 5521, 4532, 2127
1        6075, 7259, 6326, 6437, 3650, 1301, 3208, 931,...
2        1201, 453, 1098, 2709, 3708, 6221, 2169, 3814,...
3                                                     7275
4                                     6354, 404, 1461, 152
                               ...
10173                           409, 4266, 2382, 1919, 715
10174                          1268, 718, 3300, 5731, 4477
10175             6183, 4851, 5966, 2820, 3286, 4790, 2698
10176                                      4009, 486, 5673
10177                                     7215, 3416, 1238
Length: 10178, dtype: object

In [295]:
encoded_genres.index]

RangeIndex(start=0, stop=10178, step=1)

In [315]:
df = pd.DataFrame({'movie_id': list(encoded_genres.index), 'actor_id':encoded_names})

In [322]:
df = pd.DataFrame({'movie_id': list(movies.index), 'actor_id':encoded_names})

NameError: name 'movies' is not defined

In [317]:
import pandas as pd

# Załóżmy, że df to Twój DataFrame z kolumnami 'id_filmu' i 'id_gatunku'
#print(df)
# Rozszerzamy DataFrame o nowe wiersze na podstawie kolumny 'id_gatunku'
df_expanded2 = (df.set_index('movie_id')['actor_id']
               .str.split(',', expand=True)
               .stack()
               .reset_index(level=1, drop=True)
               .reset_index(name='actor_id'))

# Wynikowa ramka danych
print(df_expanded2)

       movie_id actor_id
0             0     4739
1             0     6663
2             0     3380
3             0     7123
4             0     5521
...         ...      ...
51969     10176      486
51970     10176     5673
51971     10177     7215
51972     10177     3416
51973     10177     1238

[51974 rows x 2 columns]

In [311]:
df_expanded

       movie_id genre_id
0             0       11
1             0        9
2             1        5
3             1        1
4             1        9
...         ...      ...
26405     10176       15
26406     10176        2
26407     10177       10
26408     10177       18
26409     10177        3

[26410 rows x 2 columns]

In [ ]:
import pandas as pd
import numpy as np

def clean_string(s):
    s = s.replace(',\xa0', ',').replace(', Sr.', ' Sr.').replace(', Jr.', ' Jr.').replace(', ,', ', ').rstrip(', ').strip()
    return s

def encode(column, unique_values, id_column_name):
    encoded_column = column.astype(str).apply(clean_string)
    temp_list = []

    for value in encoded_column:
        values = value.split(',')
        ids = [str(unique_values.index[unique_values == val.strip()].values[0]) for val in values if unique_values.isin([val.strip()]).any()]
        new_list = ', '.join(ids) if ids else 'nan'
        temp_list.append(new_list)
    enc_series = pd.Series(temp_list, name=id_column_name)
    enc_series.replace('', 'nan', inplace=True)
    return enc_series

# Load data
data = pd.read_csv('../../data/imdb_movies.csv')

# Rename columns
movies_df = data[['names', 'date_x', 'orig_lang', 'country', 'overview', 'score']]
movies_df.columns = ['title', 'date', 'original_lang', 'country', 'overview', 'score']

# Save movies data to a separate CSV
movies_df.to_csv('../../data/separated_dfs/movies.csv', index=True)

# Create np.array of unique movie genres
unique_genres = data['genre'].astype(str).str.split(',\xa0', expand=True).stack().unique()
unique_genres = pd.Series(unique_genres[unique_genres != 'nan'], name='genre_name')
unique_genres.to_csv('../../data/separated_dfs/genres.csv', index=True)

# Clean and process actors' names
actors_list = [clean_string(element) for element in data['crew'].astype(str).replace(', ,', ', ').str.split(',')]
actors_list = [actor.strip() for ator in actors_list]

# Get unique actor names
unique = np.unique(actors_list, return_counts=True)
name = [unique[0][i] for i in range(len(unique[0]))
        if unique[1][i] >= 3 and len(unique[0][i].split()) > 1
        and all(keyword not in unique[0][i] for keyword in keywords)]

# Save actors data to a separate CSV
actors = pd.Series(name, name='actor_name')
actors.to_csv('../../data/separated_dfs/actors.csv', index=True)

# Encode and save genres and actors series
genres_series = encode(data['genre'], unique_genres, 'genre_id')
actors_series = encode(data['crew'], actors, 'actor_id')
genres_series.to_csv('../../data/separated_dfs/movies_genres.csv', index=True)
actors_series.to_csv('../../data/separated_dfs/movies_actors.csv', index=True)

In [ ]:
import pandas as pd
import numpy as np

def encode(column, unique_values, id_column_name):
    encoded_column = column.astype(str)
    temp_list = []

    for i in encoded_column:
        i.replace(',\xa0',',')
        values = i.split(',')
        ids = [str(unique_values.index[unique_values == j.strip()].values[0]) for j in values if unique_values.isin([j.strip()]).any()]
        new_list = ', '.join(ids) if ids else 'nan'
        temp_list.append(new_list)
    enc_series = pd.Series(temp_list, name=id_column_name)
    enc_series.replace('', 'nan', inplace=True)
    return enc_series

data = pd.read_csv('../../data/imdb_movies.csv')

movies_df = data[['names', 'date_x', 'orig_lang', 'country', 'overview', 'score']]
movies_df.columns = ['title', 'date', 'original_lang', 'country', 'overview', 'score']  # rename columns

# save movies data to separate csv
movies_df.to_csv('../../data/separated_dfs/movies.csv', index=True)

# create np.array of unique movie genres
unique_genres = data['genre'].astype(str).str.split(',\xa0', expand=True).stack().unique()
# remove NaN and convert to series
unique_genres = pd.Series(unique_genres[unique_genres != 'nan'], name='genre_name')
# save genres data to separate csv
unique_genres.to_csv('../../data/separated_dfs/genres.csv', index=True)

actors_list = []
# remove some bad formatting and drop cells with mistakes in the data
for element in data['crew'].astype(str):
    text = element.replace(', Sr.', ' Sr.').replace(', Jr.', ' Jr.').replace(', ,', ', ').rstrip(', ').strip()
    splitted_text = text.split(',')
    if len(splitted_text) % 2 == 0:
        actors_list.extend(splitted_text)
# remove unnecessary spaces
actors_list = [actor.strip() for actor in actors_list]
# return np.array with unique values and number of occurences
unique = np.unique(actors_list, return_counts=True)

# format of the data is wrong so there is no way to infer which entity is a character from structure of data
# that's why I needed to remove by hand most of characters I came across

keywords = ['(voice)', '/', 'The ', 'Agent', 'Aunt', 'Brothel Girl', 'Adolf Hitler', 'Age 10', 'Basil Exposition',
            'Baby Oliver', 'Casting Director', 'Big Bob', 'Bridget Jones', ' Dr. ', 'Dr. ', 'Self', 'self', 'Pilot',
            'Johnny English', 'Man in Dance Hall', 'USA Phantom Dancer', 'Wednesday Addams', 'Skull Island',
            'Dancer: Valinese Tari Legong Dancers', 'Él mismo', 'Minnie Driver',
            '(', 'Albus Dumbledore', 'Skywalker', 'Bellatrix Lestrange', 'Cao Cao',
            'Captain', 'Blind Al', 'Fairy Godmother', 'Fake Shemp', 'Fat Man', 'Harry Potter',
            'Ron Weasley', 'Hermione Granger', 'Jesus Christ', "Jim's", 'Lord', 'Mad Dog', 'Mad Hatter',
            'Meat Loaf', 'Mr.', 'Mrs', 'News', 'Newt Scamander', 'Sexy Girl', 'Sheriff', "Ship's Cook",
            'Snow White', 'Tall Man', 'Tantoo Cardinal', 'Thin Man', 'Thor Odinson', 'Uncle', 'Winston Churchill',
            'Young Frank', 'Young Joe', 'Young Man', 'Young Michael', 'Young Woman', 'Young Girl', 'Cab Driver',
            'Cop #1', 'Commissioner James Gordon', 'Commissaire Juve', 'Cousin Eddie']

### keep name if length >= 3 (as most names), consists of more than 1 word (name and surname) and is not in keywords
name = [unique[0][i] for i in range(len(unique[0]))
        if unique[1][i] >= 3 and len(unique[0][i].split()) > 1
        and all(keyword not in unique[0][i] for keyword in keywords)]

# save actors data to separate csv
actors = pd.Series(name, name='actor_name')
actors.to_csv('../../data/separated_dfs/actors.csv', index=True)

genres_series = encode(data['genre'], unique_genres, 'genre_id')
genres_series.to_csv('../../data/separated_dfs/movies_genres.csv', index=True)

actors_series = encode(data['crew'], actors, 'actor_id')
actors_series.to_csv('../../data/separated_dfs/movies_actors.csv', index=True)

In [323]:
movies_df

NameError: name 'movies_df' is not defined

In [325]:
data['crew'][0]

"Michael B. Jordan, Adonis Creed, Tessa Thompson, Bianca Taylor, Jonathan Majors, Damien Anderson, Wood Harris, Tony 'Little Duke' Evers, Phylicia Rashād, Mary Anne Creed, Mila Davis-Kent, Amara Creed, Florian Munteanu, Viktor Drago, José Benavidez Jr., Felix Chavez, Selenis Leyva, Laura Chavez"